<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{title}} {{subtitle}} {{description}}</title>

        {{>meta_keywords}}
        {{>meta_description}}

        <link rel="stylesheet" type="text/css" href="/assert/default.css" media="all" />
        {{#if css}}
        <link rel="stylesheet" type="text/css" href="/assert/{{css}}.css" media="all" />
        {{/if}}
    </head>
    <body>
        {{{body}}}
    </body>
</html>
